---
const question = "¿Qué significa la sigla 'CO2'?";
const options = [
  "Dióxido de carbono",
  "Monóxido de carbono",
  "Óxido de carbono",
  "Carbonato de oxígeno",
];
---

<div id="quiz-and-options">
  <div id="question">{question}</div>
  <div class="answer-list">
    <div id="pt0" class="option-quiz answer-quiz">
      <input id="quiz-0" name="quiz-element" type="radio" value="0" />
      <label class="answer" for="quiz-0"
        ><span class="suboption-quiz">A</span>
        <span class="text-answer">{options[0]}</span>
      </label>
    </div>
    <div id="pt1" class="option-quiz answer-quiz">
      <input id="quiz-1" name="quiz-element" type="radio" value="1" />
      <label class="answer" for="quiz-1"
        ><span class="suboption-quiz">B</span>
        <span class="text-answer">{options[1]}</span>
      </label>
    </div>
    <div id="pt2" class="option-quiz answer-quiz">
      <input id="quiz-2" name="quiz-element" type="radio" value="2" />
      <label class="answer" for="quiz-2"
        ><span class="suboption-quiz">C</span>
        <span class="text-answer">{options[2]}</span>
      </label>
    </div>
    <div id="pt3" class="option-quiz answer-quiz">
      <input id="quiz-3" name="quiz-element" type="radio" value="3" />
      <label class="answer" for="quiz-3"
        ><span class="suboption-quiz">D</span>
        <span class="text-answer">{options[3]}</span>
      </label>
    </div>
  </div>
</div>

<style>
  #question {
    padding: 7px 0px 7px 5px;
    background-color: #302e82;
    border-radius: 6px;
    border: 1px solid white;
    color: white;
  }

  #quiz-and-options {
    #quiz-0,
    #quiz-1,
    #quiz-2,
    #quiz-3 {
      display: none;
    }

    margin-bottom: 10px;

    /* la pregunta i les opcoions*/
    .option-quiz {
      border: 1px solid white;
      background-color: #302e82;
      /* background-color: #019029; CORRECTO*/
      /* background-color: #900101; INCORRECTO*/
      color: white;
      border-radius: 6px;
      /* opacity: 0; animation.css*/
      overflow: hidden;
    }

    .answer {
      display: block;
      padding: 7px 0px 7px 0px;
      cursor: pointer;
      transition: background-color 0.8s;
    }

    /* les opcions disponibles */
    .answer-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .answer-quiz {
      width: 500px;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      transition: all 0.8s;
    }

    .suboption-quiz {
      color: yellow;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 18px;
    }
  }

  /* test with .answer-quiz:hover, only if is in game and not reponse */
  .mark-answer:hover {
    background-color: orangered !important;
  }
</style>
